{% extends "../base.html" %}
    
{% load static %}
{% block title %} Dr. Arturo A. Bravo {% endblock %}

{% block content %}
<br>
<br>
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
clear: both;
}
</style>
<body>
<div class="container">
  <div class="row">
  <div class="column right" style="background-color:white;">
    <h1 class="entry-title" style="text-align:center;">Dr. Arturo A. Bravo</h1>
    <hr class="featurette-divider" style="color:rgb(0, 0, 0);  position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: rgba(2, 2, 71, 0.622);
    margin-bottom: 50px;">
    <div class="post-thumb"><img style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 23%;" width="200" height="300" style="paddingleft:30px" src="/media/HOME_files/drBravo2.jpg" class="alignleft wp-post-image" alt="Dr. Bravo" sizes="(max-width: 200px) 100vw, 200px">
        <p>A native of Ecuador, Dr. Arturo A. Bravo brings to Northwest Houston his expertise in the prevention, diagnosis and treatment of gastrointestinal diseases - including liver transplant evaluation and post-transplant care.</p>
        <p>Every patient is our main priority, if you are suffering from any of these problems, we encourage you to take care of you health, start by contacting a physician. </p>
    <p>&nbsp;</p>
    <p>With over a decade experience as a digestive disease specialist trained in the most advanced endoscopic techniques, Dr. Bravo treats the full range of 
      <a href="https://bravogastro.com/areas-of-expertise/">digestive disorders</a>. Dr. Bravo is a diplomat of the 
      <a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>,<a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964"> the American Board of Transplant Hepatology</a> and the <a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine</a>.</p>
    <p>&nbsp;</p>
    <p>Dr. Bravo earned his medical degree at 
        <a href="http://www.uce.edu.ec/">Central University of Ecuador School of Medicine</a>. His postdoctoral training includes fellowships at 
        <a href="https://www.bidmc.org/">Beth Israel Deaconess Medical Center</a>, <a href="https://hms.harvard.edu/departments/department-medicine">Harvard Medical School</a> and at 
        <a href="https://www.henryford.com/locations/henry-ford-hospital">Henry Ford Hospital</a>.</p>
    <p>&nbsp;</p>
    <p>Dr. Bravo has been published in the 
        <a href="https://www.nejm.org/doi/full/10.1056/NEJM200102153440706">New England Journal of Medicine</a> and authored a chapter on liver disease that is published on the on-line clinical information resource, <a href="https://www.uptodate.com/home">UpToDate</a> a widely used resource for physicians and patients alike.</p>
    <p>&nbsp;</p>
    <p>Dr. Bravo is committed to treat his patients with the utmost professionalism, compassion, reliability, dependability and ethical principles. He is fluent in English and Spanish.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>For more information on treatment options, or to schedule a consultation, call us at 
        <a href="tel://+2819706027%E2%80%B3">281.970.6027</a>.</p>
    <p>We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX.</p>
</div>
</div>
    <div class="column left" style="background-color:white;">
            <br /><br />
        <br /><br />
            <div id="sidebar">
        <div class="textwidget"><p><strong>Hours of Operation</strong></p> <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> <p>&nbsp;</p> <p><strong>Arturo A. Bravo, MD</strong></p> <p><strong>11307 FM 1960 West Suite 370</strong></p> <p><strong>Houston, TX 77065</strong></p> <p><a href="tel:2819706027"><strong>P:(281) 970-6027</strong></a></p> <p><strong>F:(281) 970-6805</strong></p> 
        <p>&nbsp;</p> <p><a href="/patientForms">New Patient Form</a></p> 
        <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
        <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
            <img src="https://bravogastro.com/wp-content/uploads/2019/04/Facebook-Profile-Photo.jpg" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a></div>
            <div class="clear">

            </div>
        </div>
</div>
</div>
{% endblock %}