{% extends "../base.html" %}
    
{% load static %}
{% block title %} Edgar Olivares {% endblock %}

{% block content %}
<br>
<br>
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
clear: both;
}
</style>
<body>
<div class="container flex">
  <div class="row">
  <div class="column right" style="background-color:white;">
    <h1 class="entry-title" style="text-align:center;">Edgar Olivares</h1>
    <hr class="featurette-divider" style="color:rgb(0, 0, 0);  position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: rgba(2, 2, 71, 0.622);
    margin-bottom: 50px;">
        <div class="post-thumb"><img
            style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;" 
            height="auto" width="100%" src="{% static 'HOME_files/edgarOlivares.jpeg' %}" class="alignleft wp-post-image" alt="" sizes="(max-width: 225px) 100vw, 225px">    </div>
    <br>
    <p style="text-align:center">Edgar is a certified medical assistant. Edgar went school at The College of Health Care Professions where he graduated as a medical assistant. He is continuing his education in Pharmacy at Texas Southern University. His hobbies include playing club soccer, video games and going out with friends around the city. It is a goal for Edgar to travel around the world and see the many mysteries the world has to offer and in doing so enjoy the variety of culture there is around the world.

        </p>
    </div>
    <div class="column left" align="center" style="background-color:white;">
            <br /><br />
        <br /><br />
            <div id="sidebar">
        <div class="textwidget"><p><strong><p>Hours of Operation</p></strong>
          Monday – Friday
          <br>8 a.m. - 5 p.m.
            <br> Saturday-Sunday: Closed
          <p>&nbsp;</p>  
          <p><strong>Arturo A. Bravo, MD</p></strong>
            <br>16700 House & Hahl Rd
            <br>Building 3
            <br>Cypress, TX 77433
            <br><a href="tel:2819706027">P:(281) 970-6027</a>
            <br>F:(281) 970-6805</p> <p>&nbsp;</p> 
        <p>&nbsp;</p> <p><a href="/patientForms">New Patient Form</a></p> 
        <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
        <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
            <img src="{% static 'HOME_files/livingwinner2018.jpeg' %}" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a></div>
            <div class="clear">

            </div>
        </div>
</div>

{% endblock %}

<div class="site-main singleright" id="sitemain">
    <h1 class="entry-title">Edgar Olivares</h1>
    <div class="post-thumb"><img width="225" height="300" src="https://bravogastro.com/wp-content/uploads/2019/04/edgar-225x300.jpg" class="alignleft wp-post-image" alt="" srcset="https://bravogastro.com/wp-content/uploads/2019/04/edgar-225x300.jpg 225w, https://bravogastro.com/wp-content/uploads/2019/04/edgar-768x1024.jpg 768w, https://bravogastro.com/wp-content/uploads/2019/04/edgar-1152x1536.jpg 1152w, https://bravogastro.com/wp-content/uploads/2019/04/edgar.jpg 1512w" sizes="(max-width: 225px) 100vw, 225px"></div>