{% extends "../base.html" %}
    
{% load static %}
{% block title %} Litzy Gonzalez {% endblock %}

{% block content %}


<br>
<br>
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
clear: both;
}
</style>
<body>
<div class="container flex">
  <div class="row">
  <div class="column right" style="background-color:white;">
    <h1 class="entry-title" style="text-align:center;">Litzy Gonzalez</h1>
    <hr class="featurette-divider" style="color:rgb(0, 0, 0);  position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: rgba(2, 2, 71, 0.622);
    margin-bottom: 50px;">
        <div class="post-thumb"><img
            style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 23%;" 
        width="213" align="left" height="300" src="{% static 'HOME_files/LittzyTwo.jpg' %}" class="alignleft wp-post-image" alt="" sizes="(max-width: 213px) 100vw, 213px">
    </div>
    <br>
    <br>
    <br>
    <br>
    <p style="padding-left:300px;">Recently joined Dr. Bravos team as Patient Register Specialist, currently studying cosmetology. I enjoy recreating new and exciting looks. Looking forward to growing and engaging new knowledge in the medical field.

        </p>
    </div>
    <div class="column left" align="center" style="background-color:white;">
            <br /><br />
        <br /><br />
            <div id="sidebar">
        <div class="textwidget"><p><strong><p>Hours of Operation</p></strong>
          Monday – Friday
          <br>8 a.m. - 5 p.m.
            <br> Saturday-Sunday: Closed
          <p>&nbsp;</p>  <p><strong>Arturo A. Bravo, MD</strong></p> <p><strong>11307 FM 1960 West Suite 370</strong></p> <p><strong>Houston, TX 77065</strong></p> <p><a href="tel:2819706027"><strong>P:(281) 970-6027</strong></a></p> <p><strong>F:(281) 970-6805</strong></p> 
        <p>&nbsp;</p> <p><a href="/patientForms">New Patient Form</a></p> 
        <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
        <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
            <img src="{% static 'HOME_files/livingwinner2018.jpeg' %}" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a></div>
            <div class="clear">

            </div>
        </div>
</div>
{% endblock %}

