{% extends "../base.html" %}
    
{% load static %}
{% block title %} HOME {% endblock %}

{% block content %}
<div align="center" class="innerbanner"> <img src="/media/HOME_files/MainBanner.png" height="100%" width="100%" alt=""></div>
<br />
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <body>
<div class="container">
    <div class="row">
        <div class="column right" style="background-color:white;">
    
    <h1 class="entry-title">Bravo pH Monitoring System</h1>
    <hr class="featurette-divider" style="color:#000083; height:3px;">
    <div class="wp-block-image">
        <figure class="alignright is-resized"><img src="../../media/HOME_files/Home-BravopHMonitoring.png" alt="Bravo PH Capsule" class="wp-image-332" width="209" height="209" align="right" sizes="(max-width: 209px) 100vw, 209px"></figure>
    </div>
    <br>
<br>
    <p>
    A pH test measures the degree of acidity or alkalinity in your esophagus. The test period usually lasts 24 to 48 hours, and measures acidity in two ways:&nbsp;</p>
    <ul><li>How often stomach acid flows into the lower esophagus</li><li>Degree of acidity during the test period&nbsp; </li></ul>
    <p>Information from the pH test helps your doctor diagnose <a style="text-decoration:none" href="/areasOfExpertise/acidReflux"><strong>GERD</strong></a><strong> </strong>and plan your treatment.</p>
    <p></p>
    <p></p>
    <h1>Common Questions and Answers:</h1>
    <p></p>
    <h2><em>What is the Bravo pH Monitoring System?</em></h2>
    <p>Bravo is the world’s first catheter-free pH monitoring system. With the Bravo system, a miniature pH capsule, approximately the size of a gel cap, is temporarily attached to the wall of your esophagus. The capsule transmits pH information wirelessly to a portable receiver you wear on your waistband.</p>
    <p></p>
    <p>The capsule usually takes a few minutes to place. There’s no uncomfortable catheter during the test period, which means you can eat, sleep, shower, and engage in all your normal activities.</p>
    <h2><em>Why should I choose the Bravo system over a catheter-based test?</em><br></h2>
    <p><strong> </strong>When it comes to evaluating your heartburn symptoms, the Bravo system provides a safe, well-established alternative to catheter-based pH monitoring. </p>
    <p>A study showed that the Bravo system is significantly better tolerated than catheter-based tests:</p>
    <ul><li>Less nose and throat pain&nbsp;</li><li>Fewer reports of runny nose&nbsp;</li></ul>
    <p></p>
    <p>What’s more, study participants said the Bravo system interfered less with their daily activities – including sleep – and had a higher overall satisfaction rate and better quality of life than those using the catheter-based test. However, some patients with the Bravo system complained of more chest pain and discomfort than patients with the traditional pH probe.</p>
    <p>The Bravo system allows you to perform your normal activities during the pH test, which has the potential to provide a more accurate picture of your acid exposure.</p>
    <h2><em>Who is not a candidate for the Bravo pH Monitoring System?</em><br></h2>
    <p>The Bravo system is not for everyone. If you have bleeding diathesis, strictures, severe esophagitis, varices, obstructions, a pacemaker, or an implantable cardiac defibrillator, you should not have a Bravo pH test.</p>
    <p>Additionally, because the capsule contains a small magnet, you should not undergo an MRI study within 30 days of having a Bravo pH test.</p>
    <p>Talk to your doctor about your symptoms and testing options to see if a Bravo pH test for <a style="text-decoration:none" href="/areasOfExpertise/acidReflux"><strong>GERD</strong></a><strong> </strong>is right for you.</p>
    <p>The Bravo system is available by prescription only.</p>
    <p>Potential complications associated with gastrointestinal endoscopy include perforation, hemorrhage, aspiration, fever, infection, hypertension, respiratory arrest, and cardiac arrhythmia or arrest.</p>
    <p>Potential complications for using the Bravo pH Monitoring System include the following events:</p>
    <p></p>
    <ul><li>Premature detachment of the pH capsule&nbsp;</li><li>Failure of the pH capsule to detach from the esophagus within several days after placement, or discomfort associated with the pH capsule, requiring endoscopic removal</li><li>Tears in the mucosal and submucosal layers of the esophagus, causing bleeding and requiring possible medical intervention</li><li>Perforation&nbsp;</li></ul>
    <p>Potential complications associated with nasal intubation include: sore throat, discomfort, and nasopharyngeal damage resulting in bleeding and soft tissue damage.</p>
    <p>All pH testing procedures carry some risks. Talk to your doctor about your concerns and testing options.</p>
    <h2><em>Is the Bravo pH monitoring procedure a good solution for everyone?</em><br></h2>
    <p>No, Bravo pH monitoring is not for everyone. Risks include: premature detachment, discomfort, failure to detach, tears in the mucosa, bleeding, and perforation. Endoscopic or transnasal placement may present additional risks. Medical, endoscopic, or surgical intervention may be necessary to address any of these complications, should they occur. Please consult your physician for more information.  </p>
    <p>Read more about Bravo pH monitoring <a style="text-decoration:none" href="https://www.medtronic.com/covidien/en-us/products/reflux-testing/bravo-reflux-testing-system.html"><strong>here</strong></a></p>
    <p>Dr. Arturo Bravo is a digestive disease specialist trained in the most advanced endoscopic techniques. He is a diplomat of the <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the&nbsp;<a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a>&nbsp;and the&nbsp;<a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine,</a>  and an Assistant Professor at Texas A&amp;M University College of Medicine in the Department of Medicine. For more information on treatment options, or to schedule a consultation, call us at 
        <a href="tel://+2819706027%E2%80%B3">281.970.6027</a>.  </p>
</div>

    <div class="column left" style="background-color:white;">
    <div id="sidebar">
        <br>
<br>
<br>
<br>
<br>
<br>
    <div class="textwidget"><p><strong>Hours of Operation</strong></p> <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> 
        <p>&nbsp;</p> 
        <p><strong>Arturo A. Bravo, MD</strong></p> 
        <p>16700 House & Hahl Rd</p> 
        <p>Building 3</p>
        <p>Cypress, TX 77433</p> 
        <p><a href="tel:2819706027">P:(281) 970-6027</a></p> 
        <p>F:(281) 970-6805</p> <p>&nbsp;</p>
                <p><a href="https://bravogastro.com/patient-info/">New Patient Form</a></p> 
        <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
        <p>&nbsp;</p></div>
        <a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
        <img src="https://bravogastro.com/wp-content/uploads/2019/04/Facebook-Profile-Photo.jpg" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
    </div>
    <div class="clear">
    </div>
</div>
</div>

    {% endblock%}