{% extends "../base.html" %}
    
{% load static %}
{% block title %} ERCP {% endblock %}

{% block content %}
<div align="center" class="innerbanner"> <img src="/media/HOME_files/MainBanner.png" height="100%" width="100%" alt=""></div>
<br />
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <body>
<div class="container">
    <div class="row">
        <div class="column right" style="background-color:white;">
<article id="post-87" class="post-87 page type-page status-publish hentry">
    <header class="entry-header">
    <h1 class="entry-title">Endoscopic Retrograde Cholangiopancreatography (ERCP)</h1>
    <hr class="featurette-divider" style="color:#000083; height:3px;">
    </header>
    <br>
    <div class="wp-block-image"><figure class="alignright"><img src="../../media/HOME_files/home-ERCP.png" width="480" height="413" align="right" alt="Internal view of liver" class="wp-image-24" sizes="(max-width: 480px) 100vw, 480px"></figure></div><p>
    Endoscopic retrograde cholangiopancreatography, or ERCP, is a specialized technique used to study the ducts of the gallbladder, pancreas and liver. Ducts are drainage routes; the drainage channels from the liver are called bile or biliary ducts. Please ask Dr. Bravo about anything you don’t understand.&nbsp;</p>
    <p>During ERCP, your doctor will pass an endoscope through your mouth, esophagus and stomach into the duodenum (first part of the small intestine). An endoscope is a thin, flexible tube that lets your doctor see inside your bowels. After your doctor sees the common opening to ducts from the liver and pancreas, your doctor will pass a narrow plastic tube called a catheter through the endoscope and into the ducts. Your doctor will inject a contrast material (dye) into the pancreatic or biliary ducts and will take X-rays.&nbsp;</p>
    <p></p>
    <h1>Common Questions and Answers:</h1>
    <h4><em>Why is ERCP Performed?</em></h4>
    <p>ERCP may be performed for a variety of reasons. The most common reason is to find and remove 
      <a style="text-decoration:none" href="/areasOfExpertise/gallstones"><strong>gallstones</strong></a> lodged within the bile duct. However, other reasons can include finding causes of persistent pain in the upper abdomen on the right side,<br> looking for causes of 
      <strong><a style="text-decoration:none" href="/areasOfExpertise/pancreatitis">acute pancreatitis</a></strong><a style="text-decoration:none" href="templates/areasOfExpertise/pancreatitis.html"> </a>(acute inflammation of the pancreas) and to relieve obstruction of the bile duct caused by tumors such as 
      <strong><a style="text-decoration:none" href="/areasOfExpertise/pancreaticCancer">pancreas cancer</a></strong>. Often, in many of these situations, an ultrasound of the abdomen or a special kind of MRI study called MRCP may be performed to obtain preliminary information that can guide the need for ERCP.</p>
    <p>   </p>
    <h4><em>What preparation is required for ERCP?</em><br></h4>
    <p><strong> </strong>You should fast for at least six hours (and preferably overnight) before the procedure to make sure you have an empty stomach, which is necessary for the best examination. Your doctor will give you precise instructions about how to prepare.&nbsp; </p>
    <h4><em>What can I expect during ERCP?</em><br></h4>
    <p>Your doctor might apply a local anesthetic to your throat or give you a sedative to make you more comfortable. Some patients also receive antibiotics before the procedure. You will lie on your left side on an X-ray table. Your doctor will pass the endoscope through your mouth, esophagus, stomach and into the duodenum. The instrument does not interfere with breathing, but you might feel a bloating sensation because of the air introduced through the instrument. The procedure itself usually takes 30 to 60 minutes, although you should plan on two to three hours for waiting, preparation and recovery. </p>
    <h4><em>What can I expect after ERCP?</em><br></h4>
    <p>If you have ERCP as an outpatient, you will be observed for complications until most of the effects of the medications have worn off. You might experience bloating or pass gas because of the air introduced during the examination. You can resume your usual diet unless you are instructed otherwise. Even if you feel alert after the procedure, your judgment and reflexes could be impaired for the rest of the day. For safety reasons, you cannot drive or operate vehicles, dangerous machinery, tools or appliances until the following day.</p>
    <p></p>
    <ul><li>3 DAYS PRIOR TO THE EXAM: STOP TAKING COUMADIN, WARFARIN, JANTOVEN (unless otherwise instructed).</li><li>DAY OF EXAM: Administer half the morning dose of INSULIN at the usual time in the morning of the exam and then administer the second half of the insulin dose with a post-exam meal.</li><li>DAY OF EXAM: oral hypoglycemic agents (medications for diabetes) are withheld until you resume a normal diet.</li><li>Continue all other medications.</li></ul>
    <p>You need to have someone to drive you back home after the exam. Wear comfortable clothing
    </p>
    <p>Dr. Arturo Bravo is a digestive disease specialist trained in the most advanced endoscopic techniques. He is a diplomat of the <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the&nbsp;<a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a>&nbsp;and the&nbsp;<a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine.</a>  And an Assistant Professor at Texas A&amp;M University College of Medicine in the Department of Medicine. For more information on treatment options, or to schedule a consultation, call us at <a href="tel://+2819706027%E2%80%B3">281.970.6027</a>.  </p>
    <p>We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX. </p></div></article>
    <div class="column left" style="background-color:white;">
        <div id="sidebar">
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="textwidget"><p><strong>Hours of Operation</strong></p> <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> 
            <p>&nbsp;</p> 
            <p><strong>Arturo A. Bravo, MD</strong></p> 
            <p><strong>16700 House & Hahl Rd</strong></p> 
            <p><strong>Cypress, TX 77433</strong></p> 
            <p><a href="tel:2819706027"><strong>P:(281) 970-6027</strong></a></p> 
            <p><strong>F:(281) 970-6805</strong></p> <p>&nbsp;</p> 
            <p><a style="text-decoration:none" href="/patientForms">New Patient Form</a></p> 
            <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
            <p>&nbsp;</p></div>
            <a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
            <img src="https://bravogastro.com/wp-content/uploads/2019/04/Facebook-Profile-Photo.jpg" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>
    {% endblock %}