{% extends "../base.html" %}
    
{% load static %}
{% block title %} COLON POLYPS {% endblock %}

{% block content %}
<div class="innerbanner"> <img src="/media/HOME_files/home2.png" class="d-block w-100" alt=""></div>
<br />
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 25%;
    }
    
    .right {
      width: 75%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <body>
    <div class="container">
      <div class="row">
      <div class="column right" style="background-color:white;">
        <h1 class="entry-title">Colon Polyps</h1>
        <hr class="featurette-divider" style="color:#000083; height:3px;">
        <article id="post-233" class="post-233 page type-page status-publish hentry">
          <header class="entry-header">
          </header>
          <h2 id="basics_1">Overview</h2> <br>
           <h4><em>What is a colon polyp? </em></h4> <p>A colon polyp is a small growth on the inner lining of the large intestine, some of which can progress into cancer. Polyps may be scattered throughout the colon and vary in size from a few millimeters to several centimeters. Polyps may have a flat or raised appearance. When raised they can resemble small bumps (called sessile), or even grow on short stalks (called pedunculated), resembling a mushroom or small cauliflower.</p> 
            <h4><em>Why are colon polyps so important? </em></h4> <p>Colon polyps are important because of their known relationship to colon cancer, which is the third leading cancer in the US, and the second leading cause of cancer related death. It is well established that most colon cancers arise from colon polyps. By identifying and removing colon polyps during colonoscopy, we can prevent their progression to cancer and ultimately save lives.</p> 
            <h4><em>Are all colon polyps cancerous? </em></h4> <p>The vast majority of polyps are NOT cancerous or even pre-cancerous. The polyps without the potential to turn into cancer include small hyperplastic polyps, inflammatory polyps, and hamartomatous polyps which are not part of an inherited polyp syndrome. The precancerous polyp which can turn into a cancer is called an adenoma. The two most common types of colorectal polyps are hyperplastic polyps and adenomas. Usually, the larger the size of the adenoma, the greater the chance that there may be cancer or pre-cancerous cells present in the polyp. Since it is hard to determine the exact nature of a polyp, polyps found during colonoscopy are removed and sent to the lab for a microscopic analysis.</p> 
            <h4><em>How long does it take a colon polyp to grow into a cancer? </em></h4> <p>Current theories propose it will take about 10 years for a small adenoma to transform into a cancer. That is why the standard interval for screening colonoscopy is 10 years. However, the time interval may be shorter for patients with a hereditary form of colon cancer (like familial adenomatous polyposis or hereditary non polyposis colorectal cancer) or inflammatory bowel disease. The recommended intervals are general guidelines and may not apply to every patient.</p> <p></p> 
            <h1>Symptoms</h1> <p></p> <h4><em>How can I tell if I have a colon polyp?</em> Are there any symptoms? </h4> <p><em>Most polyps do not produce any symptoms, which is why screening is so important.</em>&nbsp;Rarely, a polyp may cause visible blood to appear in your stool. Sometimes blood will only be detected with special testing your doctor may perform on a stool sample (hemoccult testing). Rarely, polyps may cause a change in bowel habits; if the polyp or cancer is very large it may lead to constipation, or perhaps diarrhea, though this is highly unusual.</p> 
            <h1>Causes</h1> <h4><em>What causes colon polyps? </em></h4> <p>There appears to be a combination of environmental and hereditary factors that leads to forming polyps. Smoking, obesity, alcohol intake, eating a high fat diet, red meat consumption, and low fiber intake are all associated with the risk of polyp formation. The increased risk of colorectal polyps and cancer for smokers extends for at least 10 years after they discontinue smoking. There are also genetic changes that are associated with colon polyps and cancer.</p> <h1 id="basics_4">Risk Factors</h1> <h4><em>Who should be checked for colon polyps? </em></h4> 
            <p>&#xFEFF;Both men and women at average risk for colorectal cancer should begin screening for colon polyps at age 50. Recent evidence and guidelines from the American College of Gastroenterology, recommend beginning at age 45 for African Americans as this ethnic group has demonstrated a higher risk for precancerous polyps as well as colon cancer. If you have a family history of colorectal polyps or cancer, or certain conditions such as inflammatory bowel disease, you may require screening at an even earlier age or more frequent interval. There are rare hereditary colon cancer syndromes which run in families, where colonoscopy is recommended at a much younger age and repeated frequently.</p> 
            <h4><em>What if my family member has colon polyps, does that mean I will also? </em></h4> <p>When one first-degree relative (parent, sibling, child) has colon polyps or colon cancer diagnosed when they are younger than 60 years old, your risk of developing colon polyps is doubled compared to someone without an affected family member. Therefore, if your father, mother, brother or sister developed an advanced adenoma polyp or cancer before the age of 60, you should begin with cancer screening at age 40, or 10 years before their diagnosis, whichever is first. If you have two first-degree relatives with polyps or colon cancer, your risk is even higher. Your doctor will likely want to perform colonoscopy at a younger age and at more frequent intervals based on your personal family history.</p> <p></p> <p>
              <a href="http://patients.gi.org/topics/colon-polyps/"></a><br></p> 
              
              <h1 id="basics_5">Screening and Diagnosis </h1> <h4><em>What tests are available to check for polyps?</em> </h4> <p>Because most polyps do NOT cause any symptoms, <a style="text-decoration:none;" href="colorectalCancer">colorectal cancer</a> screening for polyps is crucial for <a style="text-decoration:none;" href="colorectalCancer">colorectal cance</a>r prevention. There are many tests currently available to help diagnose colon polyps including special x-ray tests, such as barium enema, or computed tomography (CT) colonography (virtual colonoscopy). There is considerable concern at present with the radiation exposure with CT colonography and patients should ask their physicians about this if it is recommended. Barium enemas are no longer recommended as an acceptable screening option by the American College of Gastroenterology. Endoscopic tests such as flexible sigmoidoscopy, which is a limited examination of the lower colon, or 
                <a style="text-decoration:none;" href="../services/colonoscopy">colonoscopy</a> are other alternatives. </p> 
            <p>The “gold standard” test that is currently available is colonoscopy, as it is the only test that is able to evaluate the entire colon lining for polyps, as well as take tissue samples and remove any polyps during the same procedure. In addition, there are stool tests available that check for hidden blood or abnormal DNA which are currently available to help detect cancers of the colon, though it is important to realize they screen for cancer, not polyps.</p> 
            <h4><em>What preparation is required before a colon exam? </em></h4> <p>An oral colon cleansing prep is necessary before a <a style="text-decoration:none;" href="../services/colonoscopy">colonoscopy</a>, barium enema and CT colonography. Preparation for flexible sigmoidoscopy is typically limited to enemas. The ability to detect colon polyps and cancer is enhanced by an excellent bowel preparation and limited by the inadequacy of bowel cleansing. Therefore, it is very important you take the preparation according to your doctor’s instructions. This will help prevent your doctor from not being able to see the lining of the colon well enough to detect polyps or cancer.</p> 
            
            <h1 id="basics_6">Treatment</h1> <h4><em>What is the treatment for colon polyps? </em></h4> <p>The best treatment for colon polyps is polypectomy (a painless removal of the polyp with a colonoscope at the time of colonoscopy). Sometimes a polyp is too large to remove completely in one session requiring either multiple colonoscopies, or rarely even surgery to remove it completely.</p> 
            
            <h4>What follow-up will I need if I am diagnosed with colon polyps? </h4> <p>Follow-up depends on what type of polyp you have. Small hyperplastic polyps located in the lower colon typically do not require follow-up, and a repeat colonoscopy is recommended in 10 years as long as you do not have additional factors (personal or family history of polyps or colon cancer, etc.). Hyperplastic polyps in the upper colon may require more frequent follow up colonoscopy. Adenomatous polyps will require a repeat (surveillance) colonoscopy in an interval based on the size of the polyp, microscopic appearance and number of polyps you have. Individuals with a personal history of polyps are at increased risk for developing new polyps. It is important to remember that the quality of your bowel prep, as well as your family history, will also determine when you may require your repeat colonoscopy.</p> 
            <h4> Will colon polyps recur after they have been removed? </h4> <p>Polyps will not recur if they are completely removed. Once a person has an adenoma, the risk of recurrence of polyps is 30-40% at three years. Since individuals with polyps are more likely to develop new polyps, surveillance colonoscopy is recommended.</p> 
            <h1 id="basics_7">Prevention</h1> <h4><em>What can I do to prevent colon polyps? </em></h4> <p>At the current time, no one knows how to prevent colon polyps. Following a healthy lifestyle, avoiding smoking and excessive alcohol, limiting red meat consumption, incorporating plenty of vegetables, and calcium-rich foods into your diet, physical activity and maintaining a healthy weight may reduce your chance of polyp development. There are also some studies suggesting that a daily aspirin or even calcium supplement may also be protective. However, you should always consult with your physician if you are planning on taking an aspirin product, or increasing your calcium intake to be certain that there are no increased risks to your personal health.Nothing will absolutely guarantee prevention of colon cancer but screening with colonoscopy is, by far the best bet! Talk to your health care provider about appropriate screening.</p> 
            <p>Dr. Arturo Bravo is a digestive disease specialist trained in the most advanced endoscopic techniques. He is a diplomat of the 
            <a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the&nbsp;
            <a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a>&nbsp;and the&nbsp;
            <a target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine.</a> And an Assistant Professor at Texas A&amp;M University College of Medicine in the Department of Medicine. For more information on treatment options, or to schedule a consultation, call us at 
            <a href="tel://+2819706027%E2%80%B3">281.970.6027</a>. </p> <p>We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX. </p> 
            <h1 id="basics_8">Author(s) and Publication Date(s)</h1> <p><em>Monica P. Zeitz, MD, Crozer-Chester Medical Center, Upland, PA – Published May 2010.</em></p> <p><strong>Source:</strong> 
              <a href="http://patients.gi.org/topics/colon-polyps/">http://patients.gi.org/topics/colon-polyps/</a> </p> <p></p></div></article>

    <div class="column left" style="background-color:white;">
        <br /><br />
        <br /><br />
        <div id="sidebar">
          <div class="textwidget"><p><strong>Hours of Operation</strong></p> 
            <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> 
            <p>&nbsp;</p> 
            <p><strong>Arturo A. Bravo, MD</strong></p> 
            <p><strong>16700 House Hahl Rd</strong></p> 
            <p><strong>Cypress, TX 77433</strong></p> 
            <p><a href="tel:2819706027"><strong>P:(281) 970-6027</strong></a></p> 
            <p><strong>F:(281) 970-6805</strong></p> <p>&nbsp;</p> 
            <p><a href="/patientForms">New Patient Form</a></p> 
            <p><a href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
            <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
              <img src="https://bravogastro.com/wp-content/uploads/2019/04/Facebook-Profile-Photo.jpg" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
            </div>
            <div class="clear">
          </div>
  </div>
</div>


  </body>
{% endblock %}