{% extends "../base.html" %}
    
{% load static %}
{% block title %} ABOUT DR. BRAVO {% endblock %}

{% block content %}
    <div align="center" class="innerbanner"> <img src="/media/HOME_files/MainBanner.png" height="100%" width="100%" alt=""></div>
<br />

<style> 
  * {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float:right;
    padding: 10px;

  }
  
  .left {
    width: 20%;
    height: 100%;
    background-color: #f5f4f4;
    border-top-color: rgb(225, 225, 225);
    padding-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 100px;
  }
  
  .right {
    width: 80%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
  <body>
  <div class="container">
    <div class="row ">
    <div class="column right" style="background-color:white;">
      <h1> ABOUT DR. BRAVO'S PRACTICE</h1>
  <br />
  <hr class="featurette-divider">
  <p>A native of Ecuador, Dr. Arturo A. Bravo brings to Northwest Houston his expertise in the prevention, diagnosis and treatment of gastrointestinal diseases - including liver transplant evaluation and post-transplant care.</p>
  <p>At doctor Bravo's office every patient is our main priority. If you are suffering from any of these problems, we encourage you to take care of you health, start by contacting a physician. </p>

        <video style="border:0px;" width="100%" height="650" controls='controls' autoplay muted>
          <source src="/media/about_files/DrBravo_1.mp4" type="video/mp4">
        </video>
        <br /><br />
  <p>With over a decade experience as a digestive disease specialist trained in the most advanced endoscopic techniques, Dr. Bravo treats a 
    <a style="text-decoration:none" href="/areasOfExpertise/">full range of digestive disorders.</a> Dr. Bravo is a diplomat of the 
    <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the 
    <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a> and the <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine</a>, and an Assistant Professor at Texas A&amp;M University College of Medicine in the Department of Medicine.</p>
  <p>According to the<a style="text-decoration:none" target="_blank" href="https://giquic.org/"> GIQuIC medical specialty registry</a>, doctor Bravo is the Gastroenterologist with the <a style="text-decoration:none" href="https://gi.org/?s=arturo+bravo">highest rate of detection <a/> of precancerous polyps <a style="text-decoration:none" target="_blank" href="https://www.gastrojournal.org/article/S0016-5085(21)03528-9/pdf"> (adenomas)</a> in the Cypress/Houston area. Meaning that
  he has prevented more patients from developing cancer due to pre-cancerous polyps than any other doctor in the Northwest Houston area.</p>
  <p>Dr. Bravo earned his medical degree at 
    <a style="text-decoration:none" target="_blank" href="http://www.uce.edu.ec/">Central University of Ecuador School of Medicine</a>. His postdoctoral training includes fellowships at 
    <a style="text-decoration:none" target="_blank" href="https://www.bidmc.org/">Beth Israel Deaconess Medical Center</a>, 
    <a style="text-decoration:none" target="_blank" href="https://hms.harvard.edu/departments/department-medicine">Harvard Medical School</a> and at 
    <a style="text-decoration:none" target="_blank" href="https://www.henryford.com/locations/henry-ford-hospital">Henry Ford Hospital</a>.</p>
  <p>Dr. Bravo has been published in the <a style="text-decoration:none" target="_blank" href="https://www.nejm.org/">New England Journal of Medicine</a> and authored a chapter on liver disease that is published on the on-line clinical information resource, 
    <a style="text-decoration:none" target="_blank" href="https://www.uptodate.com/">UpToDate</a> a widely used resource for physicians and patients alike.</p>
      <p>Dr. Bravo is committed to treating his patients with the utmost professionalism, compassion, reliability, dependability and ethical principles. He is fluent in English and Spanish.</p>
      <br />
    </div>
      <div class="column left" align="center">
<br />
        <div id="sidebar">
          <div class="textwidget">
            <p><strong><p>Hours of Operation</p></strong>
            Monday – Friday
            <br>8 a.m. - 5 p.m.
              <br> Saturday-Sunday: Closed
            <p>&nbsp;</p> 
            <p><strong>Arturo A. Bravo, MD</p></strong>
            <br>16700 House & Hahl Rd
            <br>Building 3
            <br>Cypress, TX 77433
            <br><a href="tel:2819706027">P:(281) 970-6027</a>
            <br>F:(281) 970-6805</p> <p>&nbsp;</p> 
            <br><a style="text-decoration:none" href="/patientForms">New Patient Forms</a>
            <br><a style="text-decoration:none" href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
            <p>&nbsp;</p>
          </div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
              <img src="/media/about_files/livingwinner2018.jpeg" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
            </div>
          </div>
  
</div>
</div>

<div align="center">
  <h2 align="center">Highest Standards of Quality Care</h2>
<div class="container" style="background-color:#CEC8C4; border: 3px solid #C4A968;
padding: 1px; padding-top:15px; padding-bottom:15px; width:100%; height:auto;">
<h5 align="center">Some Of Dr. Bravo's Postdoctoral Training and Achievements Include</h5>
<hr  class="rounded" style="width:350px; color:#1D1400; height:6px;"  class="featurette-divider">
<strong><p>
  According to the American College of Gastroenterology, Dr. Bravo is the Gastroenterologist with the highest <a style="text-decoration:none" target="_blank" href="https://www.gastrojournal.org/article/S0016-5085(21)03528-9/pdf"> ADR (Adenomaotous Detection Rate)</a> in the Northwest Houston Area.
</strong></p>
<div class="row" align="center">
  <div align="center" class="col-md-4">
    <a href="https://giquic.org/" target="_blank">
      <img height="85px" width="280px" src="/media/about_files/GIQuIC.png" /></a>
  </div>
</div>
<hr class="rounded" style="width:350px; color:#1D1400; height:6px;"  class="featurette-divider">

<strong><p>
  Postdoctoral training at prestigious medical schools, such as:
  
</p></strong>
<div class="row">
<div class="col-md-4">
  <a href="https://www.bidmc.org/" target="_blank">
  <img height="85px" width="280px" src="/media/about_files/BethIsrael.png">
  </a>
  <br /><br />
</div>
  <div class="col-md-4">
    <a href="https://hms.harvard.edu/departments/department-medicine" target="_blank">
  <img height="85px" width="280px" src="/media/about_files/HarvardMedicine.png"></a>
  <br /><br />
</div>
  <div class="col-md-4">
    <a href="https://www.henryford.com/locations/henry-ford-hospital" target="_blank">
  <img height="85px" width="280px" src="/media/about_files/HenryFord.png"></a>
</div>
</div>

<br />
<hr  class="rounded" style="width:350px; color:#1D1400; height:6px;"  class="featurette-divider">

<strong><p style="margin-top:40px;">
  Doctor Bravo has also been published in various health journals and magazines, including the following:
</p></strong><br />
<div class="row">
<div align="center" class="col-md-4">
  <a href="https://www.nejm.org/" target="_blank">
<img height="85px" width="280px" src="/media/about_files/NewEnglandPublish.png"></a>
<br /><br />
</div>
<div class="col-md-4">
  <a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners" target="_blank">
<img height="95px" width="95px" src="/media/about_files/livingwinner2018.jpeg"></a>
<br /><br />
</div>
<div class="col-md-4">
  <a href="https://www.wolterskluwer.com/en/solutions/uptodate" target="_blank">
<img height="100px" width="100px" src="/media/about_files/upToDate.png"></a>
<br /><br />
</div>
</div>
<hr  class="rounded" style="width:350px; color:#1D1400; height:6px;"  class="featurette-divider">

<strong><p style="margin-top:40px;">
  Additionally, Dr.Bravo counts with multiple memberships such as: </p></strong><br />
  <div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
<a href="https://giquic.org/" height="85px" width="280px" target="_blank"><img  height="85px" width="280px" src="/media/about_files/ACoG.png" /></a>
<br /><br />
</div>

<div class="col-md-3">
<a href="https://gastro.org" target="_blank"><img height="85px" width="280px" src="https://seekvectorlogo.com/wp-content/uploads/2019/03/american-gastroenterological-association-aga-vector-logo.png" /></a>
<br /><br />
</div>
<div class="col-md-3">
  <a href="https://www.asge.org/" target="_blank"><img height="85px" width="200px" src="/media/about_files/ASGE.jpeg" /></a>
<br /><br />
  </div>

  <div class="col-md-3">
    <a href="https://www.aasld.org" target="_blank"><img height="85px" width="280px" src="/media/about_files/AASLD.jpeg" /></a>
    <br /><br />
    </div>
  </div>
    <div class="row">
    <div class="col-md-3">
      <a href="https://www.texmed.org/" target="_blank"><img height="85px" width="280px" src="/media/about_files/TexasMedicalAssociation.jpeg" /></a>
      <br /><br />
      </div>
      <div class="col-md-3">
        <a href="https://www.tsge.org/amsimis/" target="_blank"><img height="85px" width="280px" src="/media/about_files/HCMS.jpeg" /></a>
        <br /><br />
        </div>

        <div class="col-md-3">
          <a href="https://www.tsge.org/amsimis/" target="_blank"><img height="85px" width="280px" src="/media/about_files/TSGE.jpeg" /></a>
          <br /><br />
          </div>
</div>
</div>
</div>


  </body>
{% endblock %}
