{% extends "../base.html" %}
    
{% load static %}
{% block title %} AREAS OF EXPERTISE {% endblock %}

{% block content %}
<div align="center" class="innerbanner"> <img src="{% static 'HOME_files/MainBanner.png' %}" height="100%" width="100%" alt=""></div>
<br />

<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float:right;
    padding: 10px;

  }
  
  .left {
    width: 22%;
    height: 100%;
    background-color: #f5f4f4;
    border-top: 1px solid #e1e1e1;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(225, 225, 225);
    padding-bottom: none;
    margin-top: 100px;
  }
  
  .right {
    width: 78%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
  <body>
  <div class="container">
    <div aling="center" class="row">
    <div class="column right" style="background-color:white;">
        <h2 class="entry-title">Areas of Expertise</h2>
  <br />
  <hr class="featurette-divider" style="color: #0B53A5; height:3px;">
  <article id="post-163" class="post-163 page type-page status-publish hentry">
    <div class="entry-content"> 
     <video width="100%" height="650" controls="controls" autoplay muted/>
      <source src="{% static 'HOME_files/AreasOfExpertiseAnimated(540p).mp4' %}" type="video/mp4">

     </video>
    </div>
<br>

<br>
        <h1>Diagnosis, Prevention and Treatment of Digestive Diseases: </h1> 
        <ul>
          <li>
            <a style="text-decoration:none" href="abdominalPainSyndrome">Abdominal Pain Syndrome</a></li>
          <li> 
            <a style="text-decoration:none" href="acidReflux">Acid Reflux</a></li>
          <li>
            <a style="text-decoration:none" href="celiacDisease"> Celiac Disease</a>
          </li>
          <li>
            <a style="text-decoration:none" href="colonPolyps"> Colon Polyps</a></li>
          <li>
            <a style="text-decoration:none" href="colorectalCancer"> Colorectal Cancer</a>
          </li>
          <li>
            <a style="text-decoration:none" href="crohnsDisease"> Crohn’s Disease</a>
          </li>
          <li>
            <a style="text-decoration:none" href="diarrhealDiseases"> Diarrheal Diseases – Acute and Chronic</a>
          </li>
          <li>
            <a style="text-decoration:none" href="diverticulosisDiverticulitis"> Diverticulosis and Diverticulitis</a>
          </li>
          <li> 
          <a style="text-decoration:none" href="gallstones">Gallstones</a></li>
        <li>
          <a style="text-decoration:none" href="inflammatoryBowelDisease"> Inflammatory Bowel Disease</a>
        </li>
        <li>
          <a style="text-decoration:none" href="pancreaticCancer"> Pancreatic Cancer</a>
        </li>
        <li> 
          <a style="text-decoration:none" href="pancreatitis">Pancreatitis</a>
        </li>
      </ul> 
      <h1>Other Services</h1> 
        <ul>
          <li> Evaluation for Potential Liver Transplant and Post Liver Transplant Care </li>
            <li> Small Bowel Endoscopy </li>
            <li> Endoscopic Placement of Feeding Tubes </li>
            <li> Esophageal Motility Studies </li></ul> 
            <p></p> 
            <p>Dr. Arturo Bravo is a digestive disease specialist trained in the most advanced endoscopic techniques. He is a diplomat of the 
              <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the&nbsp;
                <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a>&nbsp;and the&nbsp;
                <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine,</a> and an Assistant Professor at Texas A&amp;M University College of Medicine in the Department of Medicine. For more information on treatment options, or to schedule a consultation, call us at 
                <a style="text-decoration:none" href="tel://+2819706027%E2%80%B3">281.970.6027</a>. </p> 
                <p>We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX. </p></article></div>
      <div class="column left" align="center">
        <br /><br />
        <br /><br />
        <div id="sidebar">
          <div class="textwidget">
            <p><strong>Hours of Operation</strong></p> 
            <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> 
            <p>&nbsp;</p> 
            <p><strong>Arturo A. Bravo, MD</strong></p> 
            <p>16700 House & Hahl Rd</p> 
            <p>Building 3</p>
            <p>Cypress, TX 77433</p> 
            <p><a href="tel:2819706027">P:(281) 970-6027</a></p> 
            <p>F:(281) 970-6805</p> <p>&nbsp;</p> 
            <p><a style="text-decoration:none" href="/patientForms">New Patient Forms</a></p> 
            <p><a style="text-decoration:none" href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
            <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
              <img src="{% static 'HOME_files/livingwinner2018.jpeg' %}" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
            </div>
            <div class="clear">

            </div>
        </div>
        
  </div>
</div>


  </body>
{% endblock %}
