{% extends "../base.html" %}
    
{% load static %}
{% block title %} CONTACT US {% endblock %}

{% block content %}
<h1 style="text-align:center; color:black;" class="entry-title shadow p-3 mb-5 bg-white rounded">Contact Us</h1>

<br />
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    hr.dashed {
      border-top: 3px dashed #bbb;
    }
    
    .left {
      width: 40%;
    }
    
    .right {
      width: 60%;
      background-color: #f5f4f4;
    
   
    margin-bottom: none;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <body>
    <div class="container">
      <div class="jumbotron shadow p-3 mb-5 rounded" style="background-color: #D8D5CF; padding:15px; ">
        <div class="row" style="margin-left: 100px; margin-right: 80px;">
        <div align="center" class="col-xs-5 col-sm-2 col-lg-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
<h2>Address</h2>
<strong><p>Bravo Gastro</p></strong>
<p>16700 House & Hahl Rd 
<p>Building 3</p> 
<p>Cypress, TX 77433</p>
</div>
        
<div class="col-xs-5 col-sm-2 col-lg-4" align="center">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
            <h2>Office Hours</h2>
            <p>Monday - Friday</p>
            <p>8:00 AM - 5:00 PM</p>
            <p>Saturday & Sunday</p>
            <p>CLOSED</p>
</div>

<div class="col-xs-5 col-sm-2 col-lg-4" align="center">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
            <h2>Contact Us</h2>
            <p>Phone: (281) 970-6027</p>
            <p>Fax: (281) 970-6805</p>
            <p>Email: info@bravogastro.com</p>
</div>
</div>
</div>
<br />
<br />
<hr class="dashed" style="color: #14549c; height:3px">

    
    <div class="row">
        <div class="column right col-xs-7 col-sm-6 col-lg-6" style="background-color:white;" align="center">        <br />
        
        <br />

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.6637582547214!2d-95.71175018448493!3d29.960348829494457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640d5e9f81eb11d%3A0x4b1e27fa8fe0dee8!2s16700%20House%20%26%20Hahl%20Rd%2C%20Cypress%2C%20TX%2077433!5e0!3m2!1sen!2sus!4v1668499335459!5m2!1sen!2sus" 
        width="420" 
        height="530" 
        style="border:0;"
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe> 
<br />
<br />
  <p style="color:black"><strong>
      16700 House & Hahl Rd, Building 3, Cypress, TX 77433
  </strong> </p>
          <p style="color:black">We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX. </p>  <br />
        </div>
            <div class="column left col-xs-7 col-sm-6 col-lg-6">
                <div id="sidebar">
    <br>
    <br />
                    
  <video width="450" height="700" controls="controls" autoplay muted/>
    <source src="/media/DrivingDirections.mp4" type="video/mp4">
  </video>
          </div>
    </div>
<br /> 
<br />
</div> 
<br />
<br />
<h2  align="center" style="text-decoration:underline;">OUR NEW OFFICE LOCATION IS NOW OPEN!</2>
<p></p>
<div align="center" class="innerbanner"> <img src="/media/contact_files/frontBuilding.jpg" style="height:600px; width:1100px; box-shadow: 10px 10px 5px #01447b" class="img-fluid rounded-4 shadow-4" alt=""></div>
</div>
{% endblock %}