{% extends "../base.html" %}
    
{% load static %}
{% block title %} HOME {% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


   
  <style>
    hr.dashed {
      border-top: 3px dashed #bbb;
    }
  </style>

  <div class="innerbanner">
    <div align="center" class="container"> 
      <img src="{% static 'HOME_files/frontDesk_1.jpg' %}" style="align:center;" height="100%" width="100%" class="" alt="">
    </div>
  </div>
  <br />
  <br />
      <div class="row featurette" style="margin-left: 80px; margin-right: 80px;">
        <div class="col-xs-7 col-sm-6 col-lg-6">
          <h2 class="featurette-heading fw-normal lh-1 text-center">GASTROENTEROLOGY <span class="text-muted">SERVICES</span></h2>
          <p class="lead">We perform a variety of diagnostic procedures to identify and treat various ailments associated with gastrointestinal conditions ranging from stomach pain to liver disease.
            Our diagnostic procedures include: Bravo pH Monitoring System, Colonoscopy, Upper Endoscopy, ERCP, and The Pillcam video capsule.</p>
            <p><a class="btn btn-primary" href="/services">Learn More »</a></p>
        </div>
        <div class="col-xs-7 col-sm-6 col-lg-6"> 
            <video width="100%" height="auto" controls autoplay muted/>
             <source src="{% static 'HOME_files/AreasOfExpertiseAnimated(540p).mp4' %}" type="video/mp4">
            </video>
        </div>
      </div>

  <br />
  <br />

    <div class="container marketing">
      <hr class="dashed" style="color: #14549c; height:3px">
      <div class="row" style="margin-left: 100px; margin-right: 80px;">
        <div class="col-xs-5 col-sm-2 col-lg-4">
          <a style="text-decoration:none; color:black;" href="services/colonoscopy">
            <img height="auto" width="100%" src="{% static 'HOME_files/home-Conoloscopy.png' %}">
            <h2 class="fw-normal" align="center">Colonoscopy</h2>
            <p>Colonoscopy enables your doctor to examine the lining of your colon (large intestine) for abnormalities. Your doctor will use a thin, flexible tube called a colonoscope, which has its…</p>
            <p align="center"><button class="btn btn-primary">View details »</button></p>
          </a>        
        </div>
        
        <div class="col-xs-5 col-sm-2 col-lg-4">
          <a href="services/upperEndoscopy" style="text-decoration:none; color:black;">
          <image height="auto" width="100%" src="{% static 'HOME_files/Home-UpperEndoscopy.png' %}">
          <h2 class="fw-normal" align="center">Upper Endoscopy</h2>
          <p>Upper endoscopy lets your doctor examine the lining of the upper part of your gastrointestinal tract, which includes the esophagus, stomach and duodenum (first portion of the small intestine). Your doctor will use… </p>
          <p align="center"><button class="btn btn-primary">View details »</button></p>
          </a>
        </div>
        
        <div class="col-xs-5 col-sm-2 col-lg-4">
          <a href="services/ercp" style="text-decoration:none; color:black;">
          <image height="auto" width="100%" src="{% static 'HOME_files/home-ERCP.png' %}">
          <h2 class="fw-normal" align="center">ERCP</h2>
          <p>Endoscopic retrograde cholangiopancreatography, or ERCP, is a specialized technique used to study the ducts of the gallbladder, pancreas and liver. Ducts are drainage routes; the drainage…</p>
          <p align="center"><button class="btn btn-primary">View details »</button></p>
          </a>
        </div>
        <br />
        <div class="col-xs-5 col-sm-2 col-lg-3">
          <a href="services/bravopHMonitoring" style="text-decoration:none; color:black;">
          <image height="auto" width="100%" style="align:center;" src="{% static 'HOME_files/Home-BravopHMonitoring.png' %}">
          <h2 class="fw-normal" align="center">Bravo pH Monitoring System</h2>
          <p>A pH test measures the degree of acidity or alkalinity in your esophagus. The test period usually lasts 24 to 48hours, and measures acidity in two ways:  How often stomach acid flows into the lower…</p>
          <p align="center"><button class="btn btn-primary">View details »</button></p>
        </a>
        </div>
        <br />
        
      </div><!-- /.row -->
  <br />
  <br />
    </div>
    <hr class="dashed" style="color: #14549c; height:3px">
    <div class="container" style="background-color:#f5f4f4">
    <div id="index-gallery" align="center">
    <div class="teamareawrap fadeInRight">
    <h2 class="section_title">Our <b>Team</b></h2>
      
        {% comment %} <div class="containter"> {% endcomment %}
          <div class="row">
            <div class="col-lg-4">
              <a  href="boardCertified/drBravo">
              <img style="width:170px; height:270px;" src="{% static 'HOME_files/drBravo2.jpg' %}">
            </a>
            <h2 class="fw-normal">Arturo A. Bravo, MD</h2>
            <p>Board Certified Gastroenterologist</p>
            <p><a class="btn btn-primary" href="boardCertified/drBravo">Learn More »</a></p>
          </div>

          <div class="col-lg-4">
          <a  href="staff/lettyRios">
          <img style="width:160px; height:250px;" src="{% static 'HOME_files/LettyTwo.jpeg' %}">
          <a/>
          <h2 class="fw-normal">Letty Rios</h2>
          <p>Office Manager</p>
          <p><a class="btn btn-primary" href="staff/lettyRios">Learn More »</a></p>

          </div>

          
         
        
        <div class="col-lg-4">
          <a  href="staff/edgarOlivares">
          <img style="width:165px; height:250px; " src="{% static 'HOME_files/edgarOlivares.jpeg' %}">
        </a>
        <h2 class="fw-normal">Edgar Olivares</h2>
        <p>Schedule Coordinator</p>
        <p><a class="btn btn-primary" href="staff/edgarOlivares">Learn More »</a></p>

        </div>

        <div class="col-lg-6">
          <a  href="staff/litzyGonzalez">
          <image style="width:160px; height:250px;" src="{% static 'HOME_files/LittzyTwo.jpg' %}">
          </a>
          <h2 class="fw-normal">Litzy Gonzalez</h2>
          <p>Patient Register Specialist</p>
          <p><a class="btn btn-primary" href="staff/litzyGonzalez">Learn More »</a></p>
          

        </div><!-- /.col-lg-4 -->
       


        <div class="col-lg-6">
          <a href="staff/StephanieBenitez">
          <img style="width:160px; height:250px;" src="{% static 'HOME_files/stephanie.jpeg' %}">
        </a>
        <h2 class="fw-normal">Stephanie Benitez</h2>
        <p>Medical Assistant</p>
        <p><a class="btn btn-primary" href="staff/stephanieBenitez">Learn More »</a></p>

      </div>
        
    </div>
  </div>

            </section>
          </div>
        </div>
      </div>
  
{% endblock %}
