{% extends "../base.html" %}
    
{% load static %}
{% block title %} INSURANCE {% endblock %}

{% block content %}
<div align="center" class="innerbanner"> <img src="{% static 'HOME_files/MainBanner.png' %}" height="100%" width="100%" alt=""></div>
<br />
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two unequal columns that floats next to each other */
    .column {
      float:right;
      padding: 10px;
  
    }
    
    .left {
      width: 20%;
      background-color: #f5f4f4;
    border-top: 1px solid #e1e1e1;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(225, 225, 225);
    margin-bottom: none;
    margin-top: 100px;
    height: 100%;
    }
    
    .right {
      width: 80%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    <body>
<div class="container">
    <div class="row">
        <div class="column right" style="background-color:white;">
            <h1> INSURANCE ACCEPTED</H1>
        <hr class="featurette-divider">
         <p>Below is a list of insurance providers accepted by Arturo A. Bravo, MD Gastroenterology. If you don’t see your insurance provider listed below, or if you have any additional questions, please 
        <a style="text-decoration:none" href="/contactUs">Contact us</a>&nbsp;or <a style="text-decoration:none" href="tel://+2819706027%E2%80%B3">
           Call.
      </a></p> 
      <table class="wp-block-table" style="border-spacing:40px; border-collapse: separate;"><tbody><tr><td>
            <a target="_blank" style="text-decoration:none" href="https://www.aetna.com/"><strong>Aetna, <br>HMO,PPO</strong></a><br>
            <a target="_blank" style="text-decoration:none" href="https://www.bcbs.com/">
        <strong>BCBS HMO,PPO</strong></a><br>
        <strong><a target="_blank" style="text-decoration:none" href="https://www.uhc.com/">United Healthcare, PPO HMO</a></strong><a href="https://www.uhc.com/"><br></a>
        <strong><a target="_blank" style="text-decoration:none" href="https://finder.humana.com/finder/medical/details?providerId=1541676&providerOfficeId=2114016&provUpdateInfoFlag=0&customerId=1&pfpKey=385&distance=1.8">Humana</a></strong><br><strong>
            <a target="_blank" style="text-decoration:none" href="https://www.firsthealth.com/">First health</a></strong><br>
        <strong><a target="_blank" style="text-decoration:none" href="https://www.doctor.com/TX/Multiplan-PHCS-Texas">PHCS<br></a></strong>
          <strong><a target="_blank" style="text-decoration:none" href="https://www.wellcare.com/en/Texas">Wellcare<br></a></strong>
            <strong><a target="_blank" style="text-decoration:none" href="https://www.tricare.mil">Tricare<br></a></strong>
              <strong><a target="_blank" style="text-decoration:none" href="https://www.qualchoice.com">Qual Choice - PHCS<br></a></strong>
                <strong><a target="_blank" style="text-decoration:none" href="https://www.southwestservicelife.com">Southwest Service Life<br></a>
                <a target="_blank" style="text-decoration:none" href="https://www.medishare.com">Medi-Share<br></a>
              
            </td>
            <td>
              <strong><a target="_blank" style="text-decoration:none" href="https://providerlocator.firsthealth.com/home/index">First Health</strong></a><br>
              <strong><a target="_blank" style="text-decoration:none" href="https://www.libertyhealthshare.org">Liberty Healthshare</strong><br></a>
              <strong><a target="_blank" style="text-decoration:none" href="https://www.medicare.gov/care-compare/details/physician/1952372484?id=89e5428d-e31f-485d-bb54-09281b5ccd56&state=TX">Traditional Medicare<br></a>
                <strong><a target="_blank" style="text-decoration:none" href="https://www.usfhp.com">USFHP</strong>pre auth req*<br></a>
                <a target="_blank" style="text-decoration:none" href="https://www.multiplan.us/members/">MultiPlan<br></a>
            <a target="_blank" style="text-decoration:none" href="https://www.cigna.com/">Cigna, Hmo,PPo<br></a></strong>
              <strong><a target="_blank" style="text-decoration:none" href="https://providers.imaginehealth.com/?_ga=2.233712986.57026364.1676420909-1158640633.1676420909">Imagine Health</strong><br></a>


              <strong><a target="_blank" style="text-decoration:none" href="https://www.devoted.com">Devoted</strong> Referral req* <br></a>
              <strong><a target="_blank" style="text-decoration:none" href="https://www.medicare.gov/care-compare/details/physician/1952372484git?id=89e5428d-e31f-485d-bb54-09281b5ccd56&state=TX">Medicare</a>
                <p>Self-Pay Payments</p><br>
              </td>
            </tr>
          </tbody>
        </table> 
                <br />
                <hr class="featurette-divider">
                <p>
                    <a style="text-decoration:none" href="https://fiorehandandwrist.com/about-us/"></a>Dr. Arturo Bravo is a digestive disease specialist trained in the most advanced endoscopic techniques. He is a diplomat of the 
                    <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Gastroenterology</a>, the&nbsp;<a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Transplant Hepatology</a>&nbsp;and the&nbsp;
                    <a style="text-decoration:none" target="_blank" href="https://www.abim.org/verify-physician?type=name&ln=Bravo&fn=Arturo&d=05%2F27%2F1964">American Board of Internal Medicine.</a> For more information on treatment options, or to schedule a consultation, call us at 
                    <a href="tel://+2819706027%E2%80%B3">281.970.6027</a>. </p> 
                    <p>We are conveniently located within driving distance of Cypress TX, Katy TX, Spring TX, Tomball TX, The Woodlands TX, and Houston TX. </p></article>
    </div>
    
    <div class="column left" align="center">
        <br /><br />
        <br /><br />
        <div id="sidebar">
          <div class="textwidget"><p><strong>Hours of Operation</strong></p> 
            <p>Monday – Friday: 8 a.m.-5 p.m.<br> Saturday-Sunday: Closed</p> 
            <p>&nbsp;</p> 
            <p><strong>Arturo A. Bravo, MD</strong></p> 
            <p>16700 House & Hahl Rd</p> 
            <p>Cypress, TX 77433</p> 
            <p>Building #3</p>
            <p><a href="tel:2819706027">P:(281) 970-6027</a></p> 
            <p>F:(281) 970-6805</p> <p>&nbsp;</p>
            <p><a style="text-decoration:none" href="/patientForms">New Patient Forms</a></p> 
            <p><a style="text-decoration:none" href="https://www.google.com/maps/dir//''/@29.9292577,-95.6251579,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8640d111a34ee28b:0x25c698e7b40246f2!2m2!1d-95.5901383!2d29.9291879">Driving Directions</a></p> 
            <p>&nbsp;</p></div><a href="https://www.livingmagazine.net/the-2018-best-of-cy-fair-readers-choice-winners">
              <img src="{% static 'HOME_files/livingwinner2018.jpeg' %}" width="100" height="100" class="image wp-image-166 attachment-full size-full" loading="lazy" style="max-width: 100%; height: auto;"></a>
            </div>
            <div class="clear">
          </div>
  </div>
</div>


  </body>
        {% endblock %}